services:
  backend:
    build:
      context: ./reservo-backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./reservo-backend:/backend
