services:
  frontend:
    build:
      context: ./reservo-frontend
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./reservo-frontend:/frontend
      - /frontend/node_modules


  backend:
    build:
      context: ./reservo-backend-dotnet
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./reservo-backend-dotnet:/reservo-backend-dotnet


  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_PASSWORD: example
    volumes:
      - ./postgres:/var/lib/postgresql/data


  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
